@mixin prefixer($property, $value, $prefixes: ()) {
  @each $prefix in $prefixes {
    #{'-' + $prefix + '-' + $property}: $value;
  }
  #{$property}: $value; 
}


@mixin get-bootstrap-icon($icon-name, $icon-color: $primary) {
  content: "";
  display: inline-block;
  width: 1.2em;
  height: 1.2em;
  vertical-align: -.3em;
  background-color: $icon-color;
  mask-image: url("#{$bootstrap-icons-path}/#{$icon-name}.svg");
  mask-repeat: no-repeat;
  background-size: 1em 1em;
}
// ----------------------------
// .views-display-link-widget {
//     &::before {
      // margin-right: $spacer * .25; // 4px
      // @include get-bootstrap-icon('grid', $black);
//     }
//   }
