.nav-header {
  position: sticky;
  top: -45px;
  z-index: 1000;
  @media (max-width: 767px){
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
  }
}
.data {
  box-shadow: 0 .5rem 2rem rgba(0,0,0,.08);
  @media (max-width: 767px) {
    box-shadow: none;
  }
  .page {
    span {
      a {
        color: black;
        position: relative;
        padding: 10px 20px;
        &.active {
          font-weight: bold;
          @media (max-width: 767px) {
            font-weight: normal;
          }
        }
        &::after {
          content: "";
          position: absolute;
          bottom: 0;
          left: 50%;
          transform: translateX(-50%);
          height: 1.5px;
          width: 0;
          background-color: $main-color;
          @include maintransition ($main-transition);
          @media (max-width: 767px) {
            display: none;
          }
        }
        &:hover::after,
        &.active::after{
          width: 100%;
        }
        @media (max-width: 767px) {
          padding: 0;
        }
        @media (max-width: 767px) {
          &:hover {
            color: $main-color;
          }
        }
      }
      @media (max-width: 767px) {
        margin-bottom: 1rem;
      }
    }
  }
  .container {
    @media (max-width: 767px) {
      max-width: 100%;
    }
  }
}