.nav-header {
  display: flex;
  flex-direction: column;
  position: sticky;
  top: -45px;
  z-index: 1000;
  @include maintransition (right ease-in $main-transition);
  @media (max-width: 767px){
    position: fixed;
    width: 350px;
    overflow-y: auto;
    background-color: white;
    height: calc(100vh - 48px);
    top: 48px;
    padding: 0 15px;
    z-index: 1000;
    right: -100%;
    box-shadow: 0 25px 40px rgba(0,0,0,.2);
  }
  .account {
    .options {
      .option-one {
        color: black;
        cursor: pointer;
        @include maintransition ($main-transition);
        &:hover {
          color: $secondary-color;
        }
      }
    }
    @media (max-width: 767px) {
      max-width: 100%;
      margin: 0;
      gap: 140px 0;
    }
  }
}
