header {
  .drop-menu {
    width: 13rem;
    .items {
      cursor: pointer;
      padding: 0.8rem 4rem 0.8rem 1rem ;
      @include maintransition ($--main-transition);
      .active {
        font-weight: bold;
      }
      &:hover {
        padding-left: 1.5rem;
      }
      a {
        color: black;
        &:hover {
          background-color: $bac-btn;
        }
      }
    }
  }
}


