.contact {
  background-color: $main-color;
  transition: $main-transition;
  color: white;
  &:hover {
    background-color: $secondary-color;
  }
  @media (max-width: 767px) {
    width: fit-content;
    color: black;
    margin: auto;
    padding: 8px 40px;
    font-weight: bold;
    &:hover {
      background-color: $main-color;
      color: white;
    }
  }
}