.cards {
  padding-top: $padding-top;
  padding-bottom: $padding-bottom;
  .body-card {
    margin-bottom: 6rem;
    .img-card {
      img {
        @include border-radius (40px);
      }
    }
  }
}
%wavy-icon {
  // display: flex;
  // justify-content: center;
  // align-items: center;
  position: absolute;
  width: 180px;
  height: 180px;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  // font-size: 35px;
  &.text-card {
    @media (min-width: 992px) {
      display: none;
    }
    &::before {
      top: -85px;
      left: 50%;
      margin-left: -90px;
    }
  }
}
.card-one {
  .img-card, .text-card {
    &::before {
      content: "";
      @extend %wavy-icon;
      right: -40px;
      bottom: 10px;
      background-image: url("data:image/svg+xml;utf8, %3Csvg width=%22100%25%22 height=%22100%25%22 viewBox=%220 0 1000 1000%22 xmlns=%22http:%2F%2Fwww.w3.org%2F2000%2Fsvg%22 %3E %3Cdefs%3E %3CclipPath id=%22shape%22%3E %3Cpath fill=%22currentColor%22 d=%22M625%2C716.5Q250%2C933%2C250%2C500Q250%2C67%2C625%2C283.5Q1000%2C500%2C625%2C716.5Z%22%3E%3C%2Fpath%3E %3C%2FclipPath%3E %3C%2Fdefs%3E %3Cg clip-path=%22url(%23shape)%22%3E %3Cpath fill=%22%234d9dee%22 d=%22M625%2C716.5Q250%2C933%2C250%2C500Q250%2C67%2C625%2C283.5Q1000%2C500%2C625%2C716.5Z%22 %2F%3E %3C%2Fg%3E %3C%2Fsvg%3E");
    }
    &::after {
      position: absolute;
      right: 40px;
      bottom: 90px;
      @include get-bootstrap-icon('alarm', red);
    }
  }
  .text-card {
    h5 {
      color: #4d9dee;
    }
  }
}
.card-two {
  .img-card, .text-card {
    &::before {
      content: "\f5fc";
      @extend %wavy-icon;
      right: 50px;
      bottom: -85px;
      background-image: url("data:image/svg+xml;utf8, %3Csvg width=%22100%25%22 height=%22100%25%22 viewBox=%220 0 1000 1000%22 xmlns=%22http:%2F%2Fwww.w3.org%2F2000%2Fsvg%22 %3E %3Cdefs%3E %3CclipPath id=%22shape%22%3E %3Cpath fill=%22currentColor%22 d=%22M625%2C716.5Q250%2C933%2C250%2C500Q250%2C67%2C625%2C283.5Q1000%2C500%2C625%2C716.5Z%22%3E%3C%2Fpath%3E %3C%2FclipPath%3E %3C%2Fdefs%3E %3Cg clip-path=%22url(%23shape)%22%3E %3Cpath fill=%22%238f45f7%22 d=%22M625%2C716.5Q250%2C933%2C250%2C500Q250%2C67%2C625%2C283.5Q1000%2C500%2C625%2C716.5Z%22 %2F%3E %3C%2Fg%3E %3C%2Fsvg%3E");
    }
  }
  .text-card {
    h5 {
      color: #8f45f7;
    }
  }
}
.card-three {
  .img-card, .text-card {
    &::before {
      content: "\f121";
      @extend %wavy-icon;
      right: -50px;
      bottom: 15px;
      background-image: url("data:image/svg+xml;utf8, %3Csvg width=%22100%25%22 height=%22100%25%22 viewBox=%220 0 1000 1000%22 xmlns=%22http:%2F%2Fwww.w3.org%2F2000%2Fsvg%22 %3E %3Cdefs%3E %3CclipPath id=%22shape%22%3E %3Cpath fill=%22currentColor%22 d=%22M625%2C716.5Q250%2C933%2C250%2C500Q250%2C67%2C625%2C283.5Q1000%2C500%2C625%2C716.5Z%22%3E%3C%2Fpath%3E %3C%2FclipPath%3E %3C%2Fdefs%3E %3Cg clip-path=%22url(%23shape)%22%3E %3Cpath fill=%22%23f7456c%22 d=%22M625%2C716.5Q250%2C933%2C250%2C500Q250%2C67%2C625%2C283.5Q1000%2C500%2C625%2C716.5Z%22 %2F%3E %3C%2Fg%3E %3C%2Fsvg%3E");
    }
  }
  .text-card {
    h5 {
      color: #f7456c;
    }
  }
}
.card-four {
  .img-card, .text-card {
    &::before {
      content: "\f1c9";
      @extend %wavy-icon;
      right: 50px;
      bottom: -85px;
      background-image: url("data:image/svg+xml;utf8, %3Csvg width=%22100%25%22 height=%22100%25%22 viewBox=%220 0 1000 1000%22 xmlns=%22http:%2F%2Fwww.w3.org%2F2000%2Fsvg%22 %3E %3Cdefs%3E %3CclipPath id=%22shape%22%3E %3Cpath fill=%22currentColor%22 d=%22M625%2C716.5Q250%2C933%2C250%2C500Q250%2C67%2C625%2C283.5Q1000%2C500%2C625%2C716.5Z%22%3E%3C%2Fpath%3E %3C%2FclipPath%3E %3C%2Fdefs%3E %3Cg clip-path=%22url(%23shape)%22%3E %3Cpath fill=%22%23f79f45%22 d=%22M625%2C716.5Q250%2C933%2C250%2C500Q250%2C67%2C625%2C283.5Q1000%2C500%2C625%2C716.5Z%22 %2F%3E %3C%2Fg%3E %3C%2Fsvg%3E");
    }
  }
  .text-card {
    h5 {
      color: #f79f45;
    }
  }
}