.Options {
  &:hover .drop-menu {
    display: block;
  }
  .Option-one {
    transition: none;
    padding-right: 30px;
    cursor: pointer;
    &:hover {
      color: $main-color;
    }
    @media (max-width: 767px){
      width: fit-content;
      padding-right: 0;
    }
  }


  &:hover .down{
    color: $main-color;
    display: none;
  }
  &:hover .up{
    color: $main-color;
    display: block;
  }
}