.drop-menu {
  @include border-radius (10px);
  .items {
    cursor: pointer;
    padding: 0.8rem 1rem 0.8rem 1rem ;
    @include maintransition ($main-transition);
    a {
      color: black;
      &:hover {
        color: $main-color;
      }
    }
  }
}
