.main-btn {
  background-color: $main-color;
  width: fit-content;
  display: flex;
  align-items: center;
  a {
    padding: 15px;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 13px;
    &:hover svg {
      animation: moving-arrow 0.5s linear infinite;
      animation-direction: alternate;
    }
    svg {
      margin-left: 25px;
      @include keyFrame(moving-arrow) {
        100% {
          transform: translateX(10px);
        }
      }
    }
  }
}
