nav {
  position: sticky;
  top: 0;
  .nav-items {
    li {
      .active {
        font-weight: bold;
      }
      a {
        color: black;
        font-size: 1.1rem;
        &:hover {
          color: $main-color;
        }
      }
    }
  }
}