nav {
  .nav-items {
    width: 100%;
    .nav-item {
      .option-one {
        &::after {
          background: white;
          @media (max-width: 767px) {
            background: black;
          }
        }
        &:hover::after {
          background: $secondary-color;
        }
      }
      .nav-link {
        font-size: 1.1rem;
        color: white;
        &:hover {
          color: $secondary-color;
        }
        @media (max-width: 767px) {
          color: black;
        }
      }
    }
    @media (max-width: 767px) {
      margin-top: 0.5rem;
    }
  }
}