.main-content-1 {
  position: relative;
  padding-bottom: $padding-bottom;
  height: 100vh;
  top: -70px;
  .wavy-header-1 {
    svg {
      width: 222rem;
      height: 88rem;
      position: absolute;
      left: -215px;
      top: -190px;
    }
  }
  .text {
    position: absolute;
    top: 25%;
    max-width: 75%;
    color: white;
    @media (max-width: 767px) {
      max-width: 100%;
    }
    h1 {
      font-size: 3rem;
      margin-bottom: 12px;
      @media (max-width: 767px) {
        font-size: 42px;
      }
      span {
        font-weight: bold;
        color: $secondary-color;
      }
    }
    p {
      color: $secondary-color-p;
      font-size: 1.2rem;
      margin-bottom: 45px;
      @media (min-width: 992px){
        padding-right: 4rem;
      }
    }
  }
}