.up-down {
  .down, .up {
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    right: 0;
    padding: 0.3rem;
  }
  .up {
    display: none;
  }
  @media (max-width: 767px) {
    display: none;
    // position: absolute;
  }
}