// media query mixin
@mixin responsive($point) { 
  @if $point == phone {
    @media (max-width: 767px) { @content ; } 
  } 
  
  @else if $point == tablet {
    @media (min-width: 768px) { @content ; }
  }

  @else if $point == max-desktop {
    @media (max-width: 991px) { @content ; }
  }
  
  @else if $point == desktop {
    @media (min-width: 992px) { @content ; }
  }

  @else if $point == large-screen  {
    @media (max-width: 1199px) { @content ; }
  }

  @else if $point == xlarge-screen  {
    @media (min-width: 1200px) { @content ; }
  }
} 


@mixin border-radius ($r) {
  -webkit-border-radius: $r;
  -moz-border-radius: $r;
  -o-border-radius: $r;
  -ms-border-radius: $r;
  border-radius: $r;
}

@mixin maintransition ($t) {
  -webkit-transition: $t;
  -moz-transition: $t;
  -o-transition: $t;
  -ms-transition: $t;
  transition: $t;
}

@mixin prefixer($property, $value, $prefixes: ()) {
  @each $prefix in $prefixes {
    #{'-' + $prefix + '-' + $property}: $value;
  }
  #{$property}: $value; 
}


@mixin circle($cwidth, $br) {
  width: $cwidth;

  -webkit-border-radius: $br;
  -moz-border-radius: $br;
  -o-border-radius: $br;
  -ms-border-radius: $br;
  border-radius: $br;
}