$main-color: rgb(35, 33, 91);
$secondary-color: #faaf11;

$main-color-p: #6c757d;
$secondary-color-p: #ced4da;

$hover-color: $main-color;

$section-background: #edf6f9;


$main-transition: 0.3s;

$padding-top: 3rem;
$padding-bottom: 3rem;
$margin-bottom: 3rem;


$spacer: 1rem !default;
$gutters: (
  0: 0,
  1: $spacer * .25,
  2: $spacer * .5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
  6: $spacer * 5,
  7: $spacer * 9,
  8: $spacer * 11,
);

$bootstrap-icons-path: "../../node_modules/bootstrap-icons/icons"